#section_div {
	/*position: relative;*/
        width: 100%;
        /*transform: translateY(40%);*/
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
        flex-wrap: wrap;
        overflow: hidden;




	margin-top: 100px;
	margin-bottom: 100px;
	width: 100;
}

.select_image {
	margin-bottom: 30px;
}

.container_section {
	text-align: center;
        width: 50%;
        border: 1px solid grey;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
}

.image_label {
	margin-bottom: 15px;
}
