{% extends 'base_content.html' %}

{% block side %}

<ol>
	<li><a href='https://en.wikipedia.org/wiki/Algeria' target='content_frame'>Algeria</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Angola' target='content_frame'>Angola</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Benin' target='content_frame'>Benin</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Botswana' target='content_frame'>Botswana</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Burkina_Faso' target='content_frame'>Burkina Faso</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Burundi' target='content_frame'>Burundi</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Cabo_Verde' target='content_frame'>Cabo Verde</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Cameroon' target='content_frame'>Cameroon</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Central_African_Republic' target='content_frame'>Central African Republic (CAR)</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Chad' target='content_frame'>Chad</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Comoros' target='content_frame'>Comoros</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Democratic_Republic_of_the_Congo' target='content_frame'>Congo, Democratic Republic of the</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Republic_of_the_Congo' target='content_frame'>Congo, Republic of the</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Ivory_Coast' target='content_frame'>Cote d’Ivoire</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Djibouti' target='content_frame'>Djibouti</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Egypt' target='content_frame'>Egypt</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Equatorial Guinea' target='content_frame'>Equatorial Guinea</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Eritrea' target='content_frame'>Eritrea</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Eswatini' target='content_frame'>Eswatini</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Ethiopia' target='content_frame'>Ethiopia</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Gabon' target='content_frame'>Gabon</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Gambia' target='content_frame'>Gambia</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Ghana' target='content_frame'>Ghana</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Guinea' target='content_frame'>Guinea</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Guinea-Bissau' target='content_frame'>Guinea-Bissau</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Kenya' target='content_frame'>Kenya</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Lesotho' target='content_frame'>Lesotho</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Liberia' target='content_frame'>Liberia</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Libya' target='content_frame'>Libya</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Madagascar' target='content_frame'>Madagascar</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Malawi' target='content_frame'>Malawi</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Mali' target='content_frame'>Mali</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Mauritania' target='content_frame'>Mauritania</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Mauritius' target='content_frame'>Mauritius</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Morocco' target='content_frame'>Morocco</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Mozambique' target='content_frame'>Mozambique</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Namibia' target='content_frame'>Namibia</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Niger' target='content_frame'>Niger</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Nigeria' target='content_frame'>Nigeria</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Rwanda' target='content_frame'>Rwanda</a></li>
        <li><a href='https://en.wikipedia.org/wiki/São_Tomé_and_Príncipe' target='content_frame'>Sao Tome and Principe</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Senegal' target='content_frame'>Senegal</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Seychelles' target='content_frame'>Seychelles</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Sierra_Leone' target='content_frame'>Sierra Leone</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Somalia' target='content_frame'>Somalia</a></li>
        <li><a href='https://en.wikipedia.org/wiki/South_Africa' target='content_frame'>South Africa</a></li>
        <li><a href='https://en.wikipedia.org/wiki/South_Sudan' target='content_frame'>South Sudan</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Sudan' target='content_frame'>Sudan</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Tanzania' target='content_frame'>Tanzania</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Togo' target='content_frame'>Togo</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Tunisia' target='content_frame'>Tunisia</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Uganda' target='content_frame'>Uganda</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Zambia' target='content_frame'>Zambia</a></li>
        <li><a href='https://en.wikipedia.org/wiki/Zimbabwe' target='content_frame'>Zimbabwe</a></li>
</ol>

{% endblock %}
