{% extends 'base_home.html' %}

{% block head %}

<link rel="stylesheet" href="{{url_for('static', filename='base_login.css')}}">

{% endblock %}


{% block header %}

<ul id='header_ul'>
	<li class='header_li'><a href='/africa'>AFRICA</a></li>
	<li class='header_li'><a href='/history'>HISTORY</a></li>
	<li class='header_li'><a href='/culture'>CULTURE</a></li>
	<li class='header_li'><a href='/language'>LANGUAGE</a></li>
	<li class='header_li'><a href='/nature'>NATURE</a></li>
</ul>

{% endblock %}
