{% extends 'base_login.html' %}

{% block head %} {{ super() }}

<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">

{% endblock %}

{% block section %}
<div id='section_div'>
	<div class='container_section'>
		<div class='section_image'>
			<img src='{{url_for('static', filename='images/nature.jpg')}}' alt='Nature' width='100%'>
			<div class='image_label'>NATURE</div>
		</div>
		<div class='section_image'>
			<img src='{{url_for('static', filename='images/language.jpg')}}' alt='Language' width='100%'>
			<div class='image_label'>LANGUAGE</div>
		</div>
		<div class='section_image'>
			<img src='{{url_for('static', filename='images/culture.jpg')}}' alt='Culture' width='100%'>
			<div class='image_label'>CULTURE</div>
		</div>
                <div class='section_image'>
                        <img src='{{url_for('static', filename='images/history.jpg')}}' alt='History' width='100%'>
                        <div class='image_label'>HISTORY</div>
                </div>
                <div class='section_image'>
                        <img src='{{url_for('static', filename='images/africa.png')}}' alt='Africa' width='100%'>
                        <div>AFRICA</div>
                </div>
        </div>

{% endblock %}
